.big {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    display:flex;
}

.bread {
    flex: 30%;
    display: flex;
    flex-direction: column;
    padding: 24px 28.8px 0 28.8px;
    height: 100%;
}
.bread img {
    height: 80px;
    width: 250px;
}
.bread h3 {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 44.8px;
    margin-top: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


.crumb{
    background-color: #ffff;
    flex: 70%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px;
    align-items: center;
}


.pan {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #343434;
    width: fit-content;
    justify-items: start;
    align-self: start;
    justify-self: start;
}
.pan span {
    font-size: 16px;
    color: #343434;
    font-weight: 700;
    margin-left: 4px;
}
.pan img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.crumbs {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.crumbs h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 57.6px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.crumbs p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 28.8px;
    color: #666666;
}


.form {
    width: 70%;
    padding: 40px 24px 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
}

.formgroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.formgroup label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.formgroup input,
.formgroup .password {
    width: 100%;
    padding: 14px 18px;
    border-radius: 12px;
    border: 1.8px solid #B4BCDD;
    align-items: center;
    display: flex;
    line-height: 26.8px;
    font-size: 14px;
    font-weight: 500;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;;
    justify-content: space-between;
}
/* .password {
    padding: 0;
} */
.password input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 26.8px;
    font-size: 14px;
    font-weight: 500;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;;
}
.password button {
    border: none;
    background-color: transparent;
}
.password button img {
    width: 24px;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
}



.butt {
    width: 100%;
    border-radius: 1000px;
    padding: 13px 48px ;
    color: #ffffff;
    background-color:  #2c2f7e;
    border: none;
    border: 5px solid #E6EAFB;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 500;
    line-height: 29.57px;
}

@media screen and (max-width: 830px) {

    .big{
        width: 100%;
        height: 100vh;
        background-color: black;
        display:flex;
        flex-direction: column;
    }
    

    .bread h3{
        color: #fff;
        font-weight: 700;
        font-size: 36px;
        line-height: 39.8px;
        margin-top: 30px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    }

    .crumbs h1{
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
        margin-left: 110px;
      }

      .crumbs p{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
        font-weight: 400;
        font-size: 20px;
        line-height: 25.6px;
        margin-right: -200px;

      }

      .formgroup input,
      .formgroup .password {
        width: 360px;
        height: 61.64px;
        padding: 12.2px 17.47px 12.2px;
        border-radius: 9.04px;
        border: 1px solid #D1D5DB;
        align-items: center;
        display: flex;
        border-color: #B4bcdd;
        line-height: 26.8px;
        size: 16.32px;
        
        font-weight: 500;
         font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
      }
      .formgroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px; 
        border-color: #232665;
        width: 80%;
        justify-content: center;
        align-self: center;
        justify-self: center;
        margin-right:100px;
    }
    .forms{
        margin-top: 35px;
    }

    .password {
        padding: 0;
        
    }
    .password input {
        border: none;
        outline: none;
        padding: 10.88px 17.87px;
        margin: 0;
        width: 90%;
        height: auto;
        line-height: 26.8px;
        size: 16.32px;
        font-weight: 500;
        font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
        margin-left: -15px;
        
    }
    .formgroup label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 20.2px;
        font-weight: 700;
        color: black;
        text-align: left;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
         margin-top: -30px;
    }
    .forms p{
        font-weight: 500;
        font-size: 12px;
        line-height: 20.2px;
        margin-left: -17px;
    }

    .forms span{
        font-weight: 600;
        color: #0c359E;
    }

    .butt{
        border-radius: 1000px;
        padding: 16.43px 26.28px 13.43px 26.28px ;
        gap: 8px;
        color: #ffffff;
        background-color:  #2c2f7e;
        border: none;
        font-size: 16px;
        text-align: center;
        margin-top: 40px;
        font-weight: 500;
        line-height: 25.2px;
        width: 50%;
        
        align-items: center;
    }
    .home .butt {
        width: 358px;
        height: 51px;
    }
    .home p{
        font-size: 13px;
        font-weight: 500px;
        align-items: center;
        margin-bottom: 20px;
        line-height: 19.2px;
    }

    .home a{
        font-weight: 600;
        font-size: 13px;
        color: #0c359E;
    }
}


