.whole {
    margin-left: 280px;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 16px 24px;
    background: #F8F9FD;
}


.breadcrumb {
    font-size: 14px;
    font-weight: 500;
    color: #2C2F7E;
}
.breadcrumb a {
    font-size: 14px;
    font-weight: 500;
    color: #728DB9;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
}


.whiteDiv {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 28px 20px;
    margin-top: 40px;
}


.changePic {
    display: flex;
    align-items: center;
    gap: 18px;
}
.changePic img {
    border: 5px solid #94B9FF66;
    width: 85px;
    height: 85px;
    border-radius: 500px;
}
.changePic button {
    background: #2C2F7E;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}
.changePic p {
    margin-top: 4px;
    font-size: 14px;
    color: #343434;
    font-weight: 500;
}


.profileForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    gap: 20px;
}
.profileForm .formFlex {
    display: flex;
    width: 100%;
    gap: 5%;
}

.formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formGroup label {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}
.formGroup input {
    border: 1.5px solid #B4BCDD;
    border-radius: 10px;
    padding: 10px 16px;
    margin-top: 8px;
}


.buttons {
    border-top: 1px solid #C4C4C4;
    padding: 16px 0;
    display: flex;
    gap: 8px;
    margin-top: 32px;
}
.buttons .buttonOne {
    background: #2C2F7E;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}
.buttons .buttonTwo {
    background: transparent;
    border: none;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #343434;
}


.whiteDiv h5 {
    font-size: 14px;
    font-weight: 600;
    color: #2C2F7E;
}
.whiteDiv h6 {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #505296;
}

.caution {
    border: 1px solid #FFDF88;
    background: #FDF9EE;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    padding: 10px;
    gap: 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.delete {
    background: #DC2B2B;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}