.big{
    width: 100%;
    height: 100vh;
    background-color: #000A27;
    display:flex;
}


.bread{
    /* width: 20%; */
    flex: 10%;
    
    padding: 204px 28.8px 96px 28.8px;
    margin-top: -190px;
    
}
.bread img{
    height: 80px;
    width: 250px;
}
.crumb{
    background-color: #ffff;
    flex: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
      
}

.folding img{
    height: 25px;
    width:25px;
}

.link{
   font-weight: 500;
   size: 20px;
   line-height: 28.71px;
   text-decoration: none;
   color: #ECECEC;
}

.folding{
    display: flex;
    width: 102px;
    height: 32px;
    gap: 12px;
    

}
.links{
    display: flex;
    gap:20px ;
    flex-direction: column;
    margin-top: 60px
    ;
}

.logout{
    display: flex;
    width: 102px;
    height: 32px;
    gap: 12px;
}
